.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.heroVideo {
  position: absolute;
  z-index: 99;
  width: 100%;
}

.videoOverlay:before {
  content: '';
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(51,51,51,0.69);
} 

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 101;
  top: 0;
}

.headline {
  text-align: left;;
}

.questionOverlay {
  margin-top: 50%;
  display: block;
}

.question {
  padding-top: 60px;
  color: #FFF;;
  font-style: italic;
}

.questionInput {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: solid .5px #FFFFFF;
  font-size: 19px;
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
}

.questionInput::placeholder {
  color: #8D8B8B;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Nunito', sans-serif;
}