.col3--full {
  width: 25%;
  padding: 0;
}

.feature--container {
  padding-bottom: 150px;
}

.feature--title {
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 20px;
}

.feature--description {
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 20px;
}

.feature--button {
  font-family: 'Nunito', sans-serif;
  font-size: 0.75em;
  color: #464646;
  text-align: center;
  margin: 0 auto;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 25px;
  letter-spacing: 2px;
}