.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: #e1e1e1;
  font-size: 2em;
  overflow: hidden;
}

.homeContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
