.container {
  padding-bottom: 200px;;
}

.vegetable-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.vegetable-detail-container {
  padding-top: 100px;
}

.vegetable-background {
  display: block;
  height: 150%;
}

.vegetable-overlay {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1003;
}

.vegetable-title {
  color: #FFFFFF;
  padding-bottom: 20px;
  text-align: center;
}

.vegetable-description {
  padding-bottom: 20px;
}

.vegetable-image {
  width: 100%;
  min-height: 150%;
}

.col3--full {
  width: 25%;
  padding: 0;
}

.col6-full {
  width: 50%;
  padding: 0;
}

.ratio1Point5Height {
  width: 100%;
  padding-top: 150%;
  position: relative;
  background-color: #FFFFFF;
}

.vegetable-pricing-summary-container {
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
}

.vegetable-pricing-image {
  width: 84%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.vegetable-pricing-category {
  color: #464646;
  font-family: 'Nunito', sans-serif;
  font-size: .75em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.vegetable-pricing-price {
  color: #464646;
  font-size: 2.25em;
  letter-spacing: -2px;
  padding-bottom: 20px;
  text-align: center;
}

.vegetable-product-container {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.vegetable-pricing-product {
  color: #AFA7A7;
  display:inline-block;
  font-family: 'Nunito', sans-serif;
  font-size: .75em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.selected {
  color: #464646;
}