.newsletter-signup--container {
    background-color: #1B3414;
    padding-top: 150%;
    width: 100%;
}

.newsletter-signup--scroll {
    position: absolute;
    top: 0;
}

.newsletter-signup--form {
    padding-top: 30%;
    margin-left: 10%;
    width: 80%;
}

.newsletter-signup-title {
    font-size: 1.5em;
}

.newsletter-input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: solid .5px #FFFFFF;
  font-size: 19px;
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 20px;
}

.newsletter-input::placeholder {
  color: #8D8B8B;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Nunito', sans-serif;
}