nav {
  background: transparent;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 80px;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  font-size: 1.25em;
}

.navigationItem {
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.navigationItem a {
  font-family: 'Nunito', sans-serif;
  color: #464646;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .6em;
  font-weight: 600;
  transition: color 1.0s ease;
  margin-right: 40px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  cursor: pointer;
}

.navigationItem a:hover {
  color: #999999;
  transition: color 1.0s ease;
}

.navigationItemWhite a {
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .6em;
  font-weight: 600;
  transition: color 1.0s ease;
  margin-right: 40px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  cursor: pointer;
}

.navigationItemWhite a:hover {
  color: #999999;
  transition: color 1.0s ease;
}

.header--outer {
  position: relative;
  z-index: 99999;
}

.header--inner {
  width: 25%;
  margin-right: 0;
}

.header-close {
  position: absolute;
  top: 13.5%;
  left: 3.9%;
}

.header-main-nav {
  padding: 30px 20px 20px;
}
