

.header--outer {
  position: relative;
  z-index: 99999;
}

.header--inner {
  background-color: #FFFFFF;
  height: 90vh;
  max-height: 520px;;
}

.header-close {
  position: relative;
  padding-top: 13.5%;
  padding-left: 13.9%;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #CCC;
}

.header-main-nav {
  padding: 30px 30px 30px;
}

.header-nav-header {
  font-family: 'Playfair Display', serif;
  font-size: 1.25em;
  font-style: italic;
  color: #CCCCCC;
  list-style: none;
  padding-bottom: 20px;;
}

.header-nav-item {
  color: #464646;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  list-style: none;
  padding-bottom: 20px;
  transition: color 1.0s ease;
}

.header-nav-item:hover {
  color: #CCCCCC;
  transition: color 1.0s ease;
}

.detail-section {
  border-left: solid #464646 0.5px;
  min-height: 100%;
  position: relative;
}

.header-nav-detail {
  width: 80%;
  margin-left: 10%;
}

.paddingFor {
  padding-left: 70px;
}

.header-detail-item {
  color: #464646;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 1.0em;
  line-height: 2.5em;
  list-style: none;
  text-align: left;
  transition: color 1.0s ease;
}

.header-detail-item:hover {
  color: #CCCCCC;
  transition: color 1.0s ease;
}

.columnns {
  margin-left: 10%;
  padding-top: 13%;
  width: 80%;
  height: 60%;
  column-count: 2;
}

.menu-up {
  transform: translateY(-100%);
  transition: all .5s cubic-bezier(.77,0,.175,1);
}

.menu-down {
  transform: translateY(0%);
  transition: all .5s cubic-bezier(.77,0,.175,1);
}

.menu-show {
  display: block;
}

.menu-hide {
  display: none;
}

.logo-image {
  display: inline-block;
  margin-top: 90px;
  width: 75px;
}

.logo-container {
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 999;
}

.logo-text {
  color: #FFFFFF;
  font-size: 1.25em;
  letter-spacing: -.5px;
}

