body {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  background: #FFF;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 4.5em;
  font-weight: normal;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1.0px;;
  line-height: 1.0em;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  font-family: 'Playfair Display', serif;
  margin: 0;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  font-family: 'Playfair Display', serif;
  line-height: 1.0em;
  letter-spacing: 1.0px;
  margin: 0;
}

h4 {
  font-size: 0.75em;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin: 0;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

.dark-text {
  color: #484848;
}

.white-text{
  color: #FFFFFF;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}
