.footer-title {
  color: #FFFFFF;
  font-size: 1.5em;
  letter-spacing: -0.5px;
  padding-bottom: 50px
}

.footer-paragraph {
  color: #FFFFFF;
  font-size: .8125em;
  font-family: 'Nunito', sans-serif;
  letter-spacing: -0.5px;
  padding-bottom: 66px;
}

.footer-link-main {
  border-bottom: #FFFFFF solid .5px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: .875em;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  letter-spacing: -0.5px;
  padding-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 1.0s ease;
  transition-property: color, border;
}

.footer-link-main:hover {
  border-bottom: #999999 solid .5px;;
  color: #999999;
  transition: all 1.0s ease;
  transition-property: color, border;
}

.footer-social-icon {
  display: inline-block;;
  padding-right: 20px;
  width: 20px;
}

.footer-bottom-link-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-link-bottom {
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: .5625em;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  letter-spacing: -0.5px;
  padding-top: 10px;
  text-align: justify;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 1.0s ease;
}

.footer-link-bottom:hover {
  color: #999999;
  transition: color 1.0s ease;
}
