.article:hover .articleInside {
   -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
    -webkit-transition: all 7s linear;
  -moz-transition: all 7s linear;
  -o-transition: all 7s linear;
  transition: all 7s linear;
}

.overlayContainer:hover .article-overlay {
  bottom: 20px;
  -webkit-transition: bottom 0.5s ease-out;
  -moz-transition: bottom 0.5s ease-out;
  -o-transition: bottom 0.5s ease-out;
  transition: bottom 0.5s ease-out;
}

.article-overlay:hover .article-image-parent .articleInside {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
    -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
}

