.container {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
}

.heroVideo {
  position: absolute;
  z-index: 99;
  min-width: 100%;
  min-height: 100%;
}

.videoOverlay:before {
  content: '';
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(51,51,51,0.69);
} 

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 101;
  top: 0;
}

.questionOverlay {
  margin: 15% auto 0;
}

.questionInput {
  width: 50%;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: solid .5px #FFFFFF;
  margin-left: 25%;

}